﻿@model ClienteAPP.Models.PedidoVisita

@{
    ViewBag.Title = "Delete";
}

<h2>Delete - Pedido de visita</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Horário de visita do imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de abertura
        </dt>
        <dd>
            @ViewBag.imovel.HoraAbertura
        </dd>

        <dt>
            Hora de fecho
        </dt>
        <dd>
            @ViewBag.imovel.HoraFecho
        </dd>

        <dt>
            Dias da semana
        </dt>
        <dd>
            @ViewBag.imovel.DiasSemana
        </dd>

        <dt>
            Duração da visita
        </dt>
        <dd>
            @ViewBag.imovel.DuraçãoVisita
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Details", "Details", new { controller = "Imovel_Venda_Permuta_Aluguer", id = Model.ImovelId })
</p>

<br />
<h4>Pedido de visita</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora.TimeOfDay)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
