﻿@model ClienteAPP.Models.PedidoVisita

@{
    ViewBag.Title = "Details";
}

<h2>Details - Pedido de visita</h2>

<div>
    <h4>Horário de visita do imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de abertura
        </dt>
        <dd>
            @ViewBag.imovel.HoraAbertura
        </dd>

        <dt>
            Hora de fecho
        </dt>
        <dd>
            @ViewBag.imovel.HoraFecho
        </dd>

        <dt>
            Dias da semana
        </dt>
        <dd>
            @ViewBag.imovel.DiasSemana
        </dd>

        <dt>
            Duração da visita
        </dt>
        <dd>
            @ViewBag.imovel.DuraçãoVisita
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Details", "Details", new { controller = "Imovel_Venda_Permuta_Aluguer", id = Model.ImovelId})
</p>

<br />
<h4>Pedido de visita</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora.TimeOfDay)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoVisitaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
