﻿@model ClienteAPP.Models.PedidoVisita

@{
    ViewBag.Title = "Edit";
}

<h2>Edit - Pedido de visita</h2>

<div>
    <h4>Horário de visita do imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de abertura
        </dt>
        <dd>
            @ViewBag.imovel.HoraAbertura
        </dd>

        <dt>
            Hora de fecho
        </dt>
        <dd>
            @ViewBag.imovel.HoraFecho
        </dd>

        <dt>
            Dias da semana
        </dt>
        <dd>
            @ViewBag.imovel.DiasSemana
        </dd>

        <dt>
            Duração da visita
        </dt>
        <dd>
            @ViewBag.imovel.DuraçãoVisita
        </dd>

    </dl>
</div>

<br />
<h4>Pedido de visita</h4>

@using (Html.BeginForm("Edit", "PedidoVisita", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PedidoVisitaId)
        @Html.HiddenFor(model => model.ClienteId)
        @Html.HiddenFor(model => model.MediadorId)
        @Html.HiddenFor(model => model.ImovelId)
        @Html.HiddenFor(model => model.Estado)

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
