﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index - Agenda</h2>

@if (@ViewBag.visitas.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Data
            </th>

            <th>
                Hora
            </th>

            <th>
                Estado
            </th>

            <th>
                Duração Visita
            </th>

            <th>
                Tipo de Imovel
            </th>

            <th>
                Local
            </th>

            <th>
                Latitude
            </th>

            <th>
                Longitude
            </th>

            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.visitas.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.visitas[i].Data.Day/@ViewBag.visitas[i].Data.Month/@ViewBag.visitas[i].Data.Year
                </td>

                <td>
                    @ViewBag.visitas[i].Hora.TimeOfDay
                </td>

                <td>
                    @ViewBag.visitas[i].Estado
                </td>

                <td>
                    @ViewBag.imoveis[i].DuraçãoVisita
                </td>

                <td>
                    @ViewBag.imoveis[i].tipoImovel
                </td>

                <td>
                    @ViewBag.imoveis[i].local
                </td>

                <td>
                    @ViewBag.imoveis[i].latitude
                </td>

                <td>
                    @ViewBag.imoveis[i].longitude
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.visitas[i].PedidoVisitaId }) |
                    @Html.ActionLink("Details", "Details", new { id = ViewBag.visitas[i].PedidoVisitaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = ViewBag.visitas[i].PedidoVisitaId })
                </td>

            </tr>
        }
    </table>
}

else
{
    <br />
    <h5>Não existem pedidos de visita criados.</h5>
}


