﻿@model ClienteAPP.Models.Anuncio_Permuta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Permuta de Imóvel</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @ViewBag.Imovel.tipoImovel
        </dd>

        <dt>
            Localização
        </dt>

        <dd>
            @ViewBag.Imovel.local
        </dd>

        <dt>
            Área
        </dt>

        <dd>
            @ViewBag.Imovel.area
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            Pontos de Interesse
        </dt>
        <dd>
            @ViewBag.Imovel.pontoInteresse
        </dd>

        @if (Model.fotoContent != null)
        {
            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/Foto?id=@Model.fotoID" alt="foto" height="200" />
            </dd>
        }

        <br />

        <dt>
            Horário de Visita
        </dt>
        <dd></dd>

        <dt>
            Dias da Semana
        </dt>
        <dd>
            @ViewBag.Imovel.DiasSemana
        </dd>

        <dt>
            Hora de abertura
        </dt>
        <dd>
            @ViewBag.Imovel.HoraAbertura
        </dd>

        <dt>
            Hora de Fecho
        </dt>
        <dd>
            @ViewBag.Imovel.HoraFecho
        </dd>

        <dt>
            Hora de Fecho
        </dt>
        <dd>
            @ViewBag.Imovel.DuraçãoVisita
        </dd>

    </dl>
</div>

@if (Model.valido.Equals("true"))
{
    <p>
        @Html.ActionLink("Agendar Visita", "Create", "PedidoVisita", new { id = Model.ID }, null) |
        @Html.ActionLink("Edit", "Edit", new { controller = "Anuncio_Venda", id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index", "Anuncios")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { controller = "Anuncio_Venda", id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index", "Anuncios")
    </p>
}
