﻿@model ClienteAPP.Models.Anuncio_Permuta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h4>Permuta de Imóvel</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            </div>
        </div>


        <br /><br />
        
        <h4>Escolha um imóvel</h4>

        <table class="table">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Area
                </th>
                <th>
                    Local
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                <th></th>
            </tr>

            @for (var i = 0; i < ViewBag.Imovel.Count; i++)
            {

                <tr>
                    <td>
                        @ViewBag.Imovel[i].tipoImovel
                    </td>
                    <td>
                        @ViewBag.Imovel[i].area
                    </td>
                    <td>
                        @ViewBag.Imovel[i].local
                    </td>
                    <td>
                        @ViewBag.Imovel[i].longitude
                    </td>
                    <td>
                        @ViewBag.Imovel[i].latitude
                    </td>
                    <td>
                        @if (@ViewBag.Imovel[i].ID == Model.ImovelID)
                        {
                            <input type="radio" name="Imovel" value="@ViewBag.Imovel[i].ID" checked />
                        }
                        else
                        {
                            <input type="radio" name="Imovel" value="@ViewBag.Imovel[i].ID" />
                        }

                    </td>
                </tr>
            }
        </table>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Anuncios")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
