﻿@model ClienteAPP.Models.Alerta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alerta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <h4>Tipos de Anúncios</h4>
        @for (var i = 0; i < ViewBag.TipoAnuncios.Count; i++)
        {
            @ViewBag.TipoAnuncios[i]
            if (ViewBag.TiposAnunciosSelec.Contains(@ViewBag.TipoAnuncios[i]))
            {
                <input type="checkbox" name="TipoAnuncio" value="@ViewBag.TipoAnuncios[i]" checked="checked" />
            }
            else
            {
                <input type="checkbox" name="TipoAnuncio" value="@ViewBag.TipoAnuncios[i]" />
            }

        }

        <h4>Tipos de Imóveis:</h4>
        @for (var i = 0; i < ViewBag.tipoImoveis.Count; i++)
        {
            @ViewBag.tipoImoveis[i]

            if (ViewBag.TiposImovelSelec.Contains(@ViewBag.tipoImoveis[i]))
            {
                <input type="checkbox" name="TipoImovel" value="@ViewBag.tipoImoveis[i]" checked="checked" />
            }
            else
            {
                <input type="checkbox" name="TipoImovel" value="@ViewBag.tipoImoveis[i]" />
            }

        }


        <h4>Localizacão: </h4>
        <input type="text" name="local" value="@ViewBag.local" />

        <h4>Área Mínima: </h4>
        <input type="text" name="areaMin" value="@ViewBag.areamin" />  m²

        <h4>Área Máxima</h4>
        <input type="text" name="areaMax" value="@ViewBag.areamax" />  m²

        <h4>Preço Mínimo</h4>
        <input type="text" name="precoMin" value="@ViewBag.precomin" />  €

        <h4>Preço Máximo</h4>
        <input type="text" name="precoMax" value="@ViewBag.precomax" />  €

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
