﻿@model IEnumerable<ClienteAPP.Models.Imovel_Compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>Imóvel Compra</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_de_imovel.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizacao.local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaMAx)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_de_imovel.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacao.local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaMAx)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
