﻿@model ClienteAPP.Models.AppConfig

@{
    ViewBag.Title = "Edit";
}

<h2>Edit - Configuração da WebAPI</h2>

@using (Html.BeginForm("Edit", "AppConfig", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AppConfigId)

        <div class="form-group">
            @Html.LabelFor(model => model.IntervaloAlertas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntervaloAlertas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntervaloAlertas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntervaloCorresp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntervaloCorresp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntervaloCorresp, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Content != null)
        {
            <dt>
                Ficheiro
            </dt>
            <dd>
                <a href="~/AppConfig?id=@Model.AppConfigId"> @Model.ContentType</a>
            </dd>
        }

        <br/>
        <div class="form-group">
            @Html.Label("Ficheiro", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Ficheiro" name="upload" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
