﻿@model ClienteAPP.Models.Anuncio_Compra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Compra de Imóvel</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImovelID)
        </dd>

        <dt>
            Preço Máximo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMax)
        </dd>

        <dt>
            Preço Mínimo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMin)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Anuncios")
        </div>
    }
</div>
