﻿@model ClienteAPP.Models.Anuncio_Venda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Venda de Imóvel</h4>
<br /><br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @ViewBag.Imovel.tipoImovel
        </dd>

        <dt>
            Localização
        </dt>

        <dd>
            @ViewBag.Imovel.local
        </dd>

        <dt>
            Área
        </dt>

        <dd>
            @ViewBag.Imovel.area
        </dd>

        <dt>
            Renda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            Pontos de Interesse
        </dt>
        <dd>
            @ViewBag.Imovel.pontoInteresse
        </dd>

        @if (Model.fotoContent != null)
        {
            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/Foto?id=@Model.fotoID" alt="foto" height="200" />
            </dd>
        }

        <br />

        <dt>
            Horário de Visita
        </dt>
        <dd></dd>

        <dt>
            Dias da Semana
        </dt>
        <dd>
            @ViewBag.Imovel.DiasSemana
        </dd>

        <dt>
            Hora de abertura
        </dt>
        <dd>
            @ViewBag.Imovel.HoraAbertura
        </dd>

        <dt>
            Hora de Fecho
        </dt>
        <dd>
            @ViewBag.Imovel.HoraFecho
        </dd>

        <dt>
            Hora de Fecho
        </dt>
        <dd>
            @ViewBag.Imovel.DuraçãoVisita
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Anuncios")
        </div>
    }
</div>
