 <?php

 $title = 'MEDIADOR Validar os Anuncios';
 $this->headTitle($title);
 ?>
<br/>
<h2>Validar Correspondencia</h2>

<br/>
  
<table class="table" >
  <?php  
  echo "<th>";
  echo "</th>";
  echo "<th>";
  echo "ID";
  echo "</th>";
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "ID Venda";
  echo "</th>";

    foreach ($compra as $anuncioCompra) {
        if($anuncioCompra['correspValidada']=='false')
        {
            
            foreach ($venda as $anuncioVenda) {
                if($anuncioVenda['correspValidada']=='false')
                {
                    if($anuncioVenda['ID'] == $anuncioCompra['AnuncioVendaID']){
                         echo "<tr>";
                            echo "<td>";
                            echo "Compras!!";
                            echo "</td>";
                            echo "<td>";
                            echo $anuncioCompra['ID'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['tipoImovel'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['local'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['AnuncioVendaID'];
                            echo "</td>";
        
                          echo "</tr>";
                          
                          echo "<tr>";
                          
                              echo "<td>";
                              echo "Vendas!!";
                              echo "</td>";
        
                              echo "<td>";
                              echo $anuncioVenda['ID'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['tipoImovel'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['local'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['AnuncioCompraID'];
                              echo "</td>";

                          
                          echo "</tr>";
                          echo "<td>";
                          echo "<tr>";
                          echo "-----------------------------------------------------------------------------------";
                          echo "</td>";
                          echo "</tr>";
                    }
                  }  
                 }     
             }
    }

    ?>

  </table>

 <?php  

 $form->setAttribute('action', $this->url('mediador', array('action' => 'corresponder','anuncioC' => 'compraBtn')));
 $form->prepare();
 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('AnuncioCompraID'));
 echo "<br/>";
 echo $this->formRow($form->get('AnuncioVendaID'));
 echo "<br/>"; echo "<br/>";
 echo $this->formSubmit($form->get('submit'));
 echo $this->form()->closeTag();
 
 ?>
