 <?php
$title = 'Mediador';
$this->headTitle($title);
?>
<br/>
  <h5>O mediador deve ser capaz de: </h5>
  <h5>- Gerir (RUD) anuncio de venda/permuta/compra/aluguer de imoveis, nomeadamente completar e validar anuncio: associar mediador, localizacao, GPS, fotos.</h5>
  <h5>- Corresponder vendas a compras e vice-versa.</h5>
<br/>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'index'));?>">Validacao de Anuncios</a></li>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'corresponder'));?>">Validar Correspondencia Automatica</a></li>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'correspondenciavalidada'));?>">Correspondencia Manual</a></li>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'geriragenda'));?>">Gerir Agenda</a></li>
 <br/>