<?php

 $title = 'MEDIADOR Gerir a Agenda';
 $this->headTitle($title);
 ?>
<br/>
<h2>Gestao da Agenda</h2>

<br/>
 
<table class="table" >
  <?php 

  echo "<th>";
  echo "Pedido Visita";
  echo "</th>";
  echo "<th>";
  echo "Cliente";
  echo "</th>";
  echo "<th>";
  echo "Mediador";
  echo "</th>";
  echo "<th>";
  echo "Imovel";
  echo "</th>";
  echo "<th>";
  echo "Data";
  echo "</th>";
  echo "<th>";
  echo "Hora";
  echo "</th>";
  echo "<th>";
  echo "Estado";
  echo "</th>";
 
  
    foreach ($pedido as $pedidoAgenda) {
        

    echo "<tr>";
        echo "<td>";
        echo $pedidoAgenda['PedidoVisitaId'];
        echo "</td>";
        
        echo "<td>";
        echo $pedidoAgenda['ClienteId'];
        echo "</td>";

        echo "<td>";
        echo $pedidoAgenda['MediadorId'];
        echo "</td>";
        
        echo "<td>";
        echo $pedidoAgenda['ImovelId'];
        echo "</td>";
        
        echo "<td>";
        echo $pedidoAgenda['Data'];
        echo "</td>";
        
        echo "<td>";
        echo $pedidoAgenda['Hora'];
        echo "</td>";        
        
        echo "<td>";
        echo $pedidoAgenda['Estado'];
        echo "</td>";
        
        
    }
        ?>
        
        


</table>
