 <?php

 $title = 'MEDIADOR Validar os Anuncios';
 $this->headTitle($title);
 ?>
<br/>
<h2>Correspondencia Automatica!! </h2>

<br/>


<table class="table" >
  <?php  
  echo "<th>";
  echo "ID";
  echo "</th>";
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "ID Venda";
  echo "</th>";

    foreach ($compra as $anuncioCompra) {
        if($anuncioCompra['correspValidada']=='false')
        {
            
            foreach ($venda as $anuncioVenda) {
                if($anuncioVenda['correspValidada']=='false')
                {
                    if($anuncioVenda['ID'] == $anuncioCompra['AnuncioVendaID']){
                         echo "<tr>";
                            echo "<td>";
                            echo "Compras!!";
                            echo "</td>";
                            echo "<td>";
                            echo $anuncioCompra['ID'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['tipoImovel'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['local'];
                            echo "</td>";
                            
                            echo "<td>";
                            echo $anuncioCompra['AnuncioVendaID'];
                            echo "</td>";
        
                          echo "</tr>";
                          
                          echo "<tr>";
                          
                              echo "<td>";
                              echo "Vendas!!";
                              echo "</td>";
        
                              echo "<td>";
                              echo $anuncioVenda['ID'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['tipoImovel'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['local'];
                              echo "</td>";
                              
                              echo "<td>";
                              echo $anuncioVenda['AnuncioCompraID'];
                              echo "</td>";
                               ?>
                               
                              <?php
                                 $urlValidate = $this->url('mediador', array(
                                     'action' => 'validacrp',
                                     'id'     => $anuncioVenda['ID'],
                                     'idc'    => $anuncioCompra['ID']
                                 ));
                              
                              
                              ?>
                                     <td>
                                      <li><a href="<?php echo $urlValidate;?>">Validar</a></li>
                               		</td>
                                      <?php 
                          
                          echo "</tr>";
                          echo "-----------------------------------------------------------------------------------";
                    }
                  }  
                 }     
             }
    }
//}
 ?>
                 
</table>


