﻿@model ClienteAPP.Models.Imovel_Venda_Permuta_Aluguer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h4>Imóvel Venda/Permuta/Aluguer</h4>


@using (Html.BeginForm("Create", "Imovel_Venda_Permuta_Aluguer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Local", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("local", (SelectList)ViewBag.local, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pontoInteresse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pontoInteresse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pontoInteresse, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Foto-->
        <div class="form-group">
            @Html.Label("Foto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Foto" name="upload" />
            </div>
        </div>

        <!--Modelo 3D-->
        <div class="form-group">
            @Html.Label("Modelo 3D", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Modelo3D" name="upload3D" />
            </div>
        </div>

        <!--Tipo de Imóvel-->
        <div class="control-group">
            <label class="control-label col-md-2" for="TipoImovelID">Tipo de Imóvel</label>
            <div class="col-md-10">
                @Html.DropDownList("TipoImovelID", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoImovelID)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label col-md-2" for="DiasDaSemana">Horário de Visita</label>
            <div class="col-md-11">
                @for (var i = 0; i < ViewBag.DiasDaSemana.Count; i++)
                {
                    @ViewBag.DiasDaSemana[i]
                    <t><input type="checkbox" name="DiasDaSemana" value="@ViewBag.DiasDaSemana[i]" /></t>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraAbertura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraAbertura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoraAbertura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraFecho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraFecho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoraFecho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DuraçãoVisita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuraçãoVisita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuraçãoVisita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
