﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>
    Projeto elaborado no âmbito da cadeira LAPR5 que envolve a implementação de um sistema de anúncios de imóveis,
    que permitam um conjunto de operações, com valor de negócio, sobre os imóveis registados.
</p>

<br />
<p>O projeto inclui os seguintes componentes:</p>
<li>Aplicações cliente/servidoras em ambiente Web para suporte da procura e gestão de anúncios de imóveis.</li>
<li>Módulo de gestão da agenda de visitas aos imóveis disponíveis em carteira.</li>
<li>Módulo de visualização e navegação 3D nos imóveis ou divisões.</li>
<li>Módulo de monitorização de sistemas/serviços/tráfego e produção de estatísticas.</li>

<br />
<p><b>Apresentação da empresa</b></p>
<p>
    A Home2Biz, S.A. é uma empresa com sede no Porto (Portugal) cuja missão é fornecer serviços
    avançados na área da imobiliária. A empresa reconhece a importância da concorrência e pretende
    ganhar uma quota relevante de mercado através de soluções baseadas em software com elevado
    valor para quem anuncia e/ou procura imóveis para compra e venda. No âmbito do seu
    desenvolvimento de negócio e da sua gestão de risco, a Home2Biz assumiu a elaboração do seu
    software através da subcontratação de serviços de desenvolvimento.
</p>
