﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home2Biz</h1>
    <p class="lead">LAPR5 - Aplicação cliente que comunica com a WebAPI através de uma arquitetura REST.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Gestão de Anúncios</h2>
        <p>Registar, visualizar, modificar e apagar anúncios de imóveis.</p>
    </div>
    <div class="col-md-3">
        <h2>Gestão de Imóveis</h2>
        <p>Registar, visualizar, modificar e apagar imóveis.</p>
    </div>
    <div class="col-md-3">
        <h2>Gestão de Alertas</h2>
        <p>Registar, visualizar, modificar e apagar alertas.</p>
    </div>
    <div class="col-md-3">
        <h2>Gestão de Visitas</h2>
        <p>Modificar, atualizar e apagar pedidos de visita a imóveis.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a href="@Url.Action("Index", "Anuncios")" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-dashboard"></span> Gestão de Anúncios</a></p>
    </div>
    <div class="col-md-3">
        <p><a href="@Url.Action("Index", "Imovel_Venda_Permuta_Aluguer")" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-home"></span> Gestão de Imóveis</a></p>
    </div>
    <div class="col-md-3">
        <p><a href="@Url.Action("Index", "Alertas")" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-list-alt"></span> Gestão de Alertas</a></p>
        <p><a href="@Url.Action("Index", "AnuncioAlerta")" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-envelope"></span> Consulta de Alertas <span class="badge">@ViewBag.alertas</span></a></p>
    </div>
    <div class="col-md-3">
        <p><a href="@Url.Action("Index", "PedidoVisita")" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-calendar"></span> Gestão de Visitas</a></p>
    </div>
</div>