﻿@{
    ViewBag.Title = "UnAuthenticated";
}

<div class="jumbotron">
    <h1>Home2Biz</h1>
    <p class="lead">LAPR5 - Aplicação cliente que comunica com a WebAPI através de uma arquitetura REST.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consulta de anúncios</h2>
        <p>Consultar todos os anúncios registados na base de dados.</p>
        <a href="@Url.Action("Index", "AnunciosNaoRegistados")" class="btn btn-primary btn-block btn-success"><span class="glyphicon glyphicon-list-alt"></span> Consultar Anúncios</a>
    </div>
</div>
