﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index - Utilizador não registado</h2>

@if (@ViewBag.AnuncioCompra.Count > 0)
{
    <h4>Compra de Imóveis</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área Mínima
            </th>
            <th>
                Área Máxima
            </th>
            <th>
                Preço Mínimo
            </th>
            <th>
                Preço Máximo
            </th>
            <th>
                Valido
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.AnuncioCompra.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.AnuncioCompra[i].tipoImovel
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].local
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].areaMin
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].areaMax
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].precoMin
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].precoMax
                </td>
                <td>
                    @ViewBag.AnuncioCompra[i].valido
                </td>
                <td>
                    <h5>@Html.ActionLink("Criar Utilizador", "Register", new { controller = "Account" }) | @Html.ActionLink("Login", "Login", new { controller = "Account" })</h5>
                </td>
            </tr>
        }
    </table>
}
else
{
    <br />
    <h5>Não existem Anúncios de Compra.</h5>
    <br />
}

@if (@ViewBag.ImovelPermuta.Count > 0)
{
    <h4>Permuta de Imóvel</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área
            </th>
            <th>
                Preço
            </th>
            <th>
                Valido
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.AnuncioPermuta.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.ImovelPermuta[i].tipoImovel
                </td>
                <td>
                    @ViewBag.ImovelPermuta[i].local
                </td>
                <td>
                    @ViewBag.ImovelPermuta[i].area
                </td>
                <td>
                    @ViewBag.AnuncioPermuta[i].preco
                </td>
                <td>
                    @ViewBag.AnuncioPermuta[i].valido
                </td>
                <td>
                    <h5>@Html.ActionLink("Criar Utilizador", "Register", new { controller = "Account" }) | @Html.ActionLink("Login", "Login", new { controller = "Account" })</h5>
                </td>
            </tr>
        }
    </table>
}
else
{   <br />
    <h5>Não existem Anúncios de Permuta.</h5>
    <br />
}

@if (@ViewBag.ImovelVenda.Count > 0)
{
    <h4>Venda de Imóvel</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área
            </th>
            <th>
                Preço
            </th>
            <th>
                Valido
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.AnuncioVenda.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.ImovelVenda[i].tipoImovel
                </td>
                <td>
                    @ViewBag.ImovelVenda[i].local
                </td>
                <td>
                    @ViewBag.ImovelVenda[i].area
                </td>
                <td>
                    @ViewBag.AnuncioVenda[i].preco
                </td>
                <td>
                    @ViewBag.AnuncioVenda[i].valido
                </td>
                <td>
                    <h5>@Html.ActionLink("Criar Utilizador", "Register", new { controller = "Account" }) | @Html.ActionLink("Login", "Login", new { controller = "Account" })</h5>
                </td>
            </tr>
        }
    </table>
}
else
{   <br />
    <h5>Não existem Anúncios de Venda.</h5>
    <br />
}

@if (@ViewBag.ImovelAluguer.Count > 0)
{
    <h4>Aluguer de Imóvel</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área
            </th>
            <th>
                Renda
            </th>
            <th>
                Valido
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.AnuncioAluguer.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.ImovelAluguer[i].tipoImovel
                </td>
                <td>
                    @ViewBag.ImovelAluguer[i].local
                </td>
                <td>
                    @ViewBag.ImovelAluguer[i].area
                </td>
                <td>
                    @ViewBag.AnuncioAluguer[i].renda
                </td>
                <td>
                    @ViewBag.AnuncioAluguer[i].valido
                </td>
                <td>
                    <h5>@Html.ActionLink("Criar Utilizador", "Register", new { controller = "Account" }) | @Html.ActionLink("Login", "Login", new { controller = "Account" })</h5>
                </td>
            </tr>
        }
    </table>
}
else
{   <br />
    <h5>Não existem Anúncios de Aluguer.</h5>
    <br />
}
