<?php echo $this->doctype(); ?>

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Mediador It3'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Mediador It3') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
                    </ul>  
                    <?php 
                    if(!isset($_SESSION)){
                        session_start();
                    }
                    ?>
                    <?php if(!empty($_SESSION["username"])){ ?>
                    <ul class="nav navbar-nav">
                    	<li><a href="<?php echo $this->url('mediador',array('action' => 'duasopcoes')) ?>"><?php echo $this->translate('Mediador') ?></a></li>
                    </ul>
                    <?php }?>
                    
                    <?php if(empty($_SESSION["username"])){ ?>
                    <ul class="nav navbar-nav">
                    	<li><a href="<?php echo $this->url('mediador', array('action' => 'login')) ?>"><?php echo $this->translate('Login') ?></a></li>
                    </ul>
                    <?php }?>
                    
                     <?php if(!empty($_SESSION["username"])){ ?>
                    <ul class="nav navbar-nav">
                    	<li><a> Hello <?php echo $_SESSION["username"]?> </a></li>
                    </ul>
                    <?php }?>
                    
                    <?php if(empty($_SESSION["username"])){ ?>
                    <ul class="nav navbar-nav">
                    	<li><a href="<?php echo $this->url('mediador', array('action' => 'register')) ?>"><?php echo $this->translate('Register') ?></a></li>
                    </ul>
                    
                    <?php }?>
                    
                    <?php if(!empty($_SESSION["username"])){ ?>
                    <ul class="nav navbar-nav">
                    	<li><a href="<?php echo $this->url('mediador',array('action' => 'logout')) ?>"><?php echo $this->translate('Logout') ?></a></li>
                    </ul>
                    <?php }?>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> Antonio Pinheiro 1130339 Cristina Lopes 1130371</p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
