﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index - Gerir utilizadores</h2>

<table class="table">
    <tr>
        <th>
            Email
        </th>

        <th>
            Role
        </th>

        <th></th>
    </tr>

@{
    var count = 0;
    foreach (string user in @ViewBag.usersId)
    {
        if (!@ViewBag.userRoles[count].Equals("Admin"))
        {
            <tr>
                <td>
                    @ViewBag.usersEmail[count]
                </td>
                <td>
                    @ViewBag.userRoles[count]
                </td>
                <td>
                    @if (@ViewBag.userRoles[count].Equals("Cliente"))
                    {
                        <a href="@Url.Action("PromoverUser", "Role", new { UserId = user })"
                            class="btn btn-primary btn-success"><span class="glyphicon glyphicon-circle-arrow-up"> 
                            Promover</span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("DespromoverUser", "Role", new { UserId = user })"
                            class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-circle-arrow-down"> 
                            Despromover</span></a>
                    }
                </td>
            </tr>
        }
        count++;
    }
}
</table>
